header {
  background-color: rgb(255, 102, 0);
  padding: 0 0 10px 10px;
  font-family: Verdana, Geneva, sans-serif;
  color: #222222;
  vertical-align: middle;
}
header > img {
  border: 1px solid #fff;
}
header > img,
header a {
  vertical-align: middle;
  color: #fff;
  padding: 0 10px 0 10px;
  font-size: 10pt;
}
header a:active,
header a:hover {
  color: #000;
}
