footer {
  background-color: #f6f6ef;
  border-top: 2px solid #ff6600;
}
footer .footer-content {
  text-align: center;
}
footer .footer-nav {
  font-size: 9pt;
  color: #000;
  padding: 10px;
}
footer .searchbox-container {
  padding: 20px 0 20px 0;
  font-size: 9pt;
}
footer .search-txt {
  color: #828282;
}
